@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bangers&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Noto+Color+Emoji&family=Yanone+Kaffeesatz&family=Young+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Young Serif", system-ui;
  font-weight: 400;
  font-style: normal;
  background-color: #efefee;
  margin: 20px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#resume {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 350px;
  padding: 20px;
  background-color: rgb(244, 244, 155);
  border-radius: 10px;
}

#resume p {
  font-size: 18px;
}

#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

article {
  width: 300px;
  padding: 40px;
  gap: 5px;
}

img {
  width: 250px;
  border-radius: 10px;
}
